/******************************************************************************************
    CSS RESET
******************************************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************************************************************
   BACKGROUND SECTION
******************************************************************************************/

.background-continer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
} 

.background {
    position: relative;
    width: inherit;
    height: inherit;
    background: black;
}

.black {
    position: fixed;
    width: inherit;
    height: inherit;
    background-color: black;
    opacity: 0.7;
}

.dynamic-background-1 {
    position: absolute;
    width: 110%;
    margin-top: -6.250em;
    opacity: 0.7;
}

.dynamic-background-2,.dynamic-background-3 {
    position: absolute;
    width: 110%;
    margin-top: -6.250em;
    opacity: 0;
}

/******************************************************************************************
    CONTENT TOP SECTION
******************************************************************************************/

.content-top {
    margin-left: 5em;
    margin-top: 10em;
    margin-bottom: 6.25em;
}

h1 {
    font-size: 2.75em;
    font-family: "Fauna One";
    color: #8f8f8f;
}



/******************************************************************************************
   CONTENT MID SECTION
******************************************************************************************/

.content {
    position: fixed;
    width: 100%;
    height: 100%;
}

.content-divs {
    width: auto;
    height: 37.5em;
    padding-left: 3.563em;
    vertical-align:text-top;
}

.content-vertical-line {
    display: inline-block;
    height: 25em;
    border: 1px dashed white;
    border-radius: 1px;
    opacity: 0.1;
    vertical-align:text-top;
    margin-right: 0.938em;
    margin-left: 0.938em;
}

.content-about-div {
    width: 43.125em;
    height: 100%;
    display: inline-block;
    vertical-align: text-top;
}

.content-tech-div {
    width: 9.813em;
    height: 100%;
    display: inline-block;
    vertical-align:text-top;    
}

.content-arts-div {
    width: 3.563em;
    height: 100%;
    display: inline-block;
    vertical-align:text-top;    
}

h2 {
    font-size: 1.75em;
    color: #7d7e84;
    font-family: "Fauna One";
    display: inline-block;     
    margin-top: 0;
    margin-bottom: 0.5em;
}

h2:hover {
    color: #b1b1b1;
}

/******************************************************************************************
   CONTENT-MID-DETAILS SECTION
*******************************************************************************************/

p {
    margin: 0;
}

.content-text {
    color: #FFFFFF;
    width: 100%;
    font-family: "Fauna One";
    font-size: 0.938em;
    line-height: 1.563em;
    position: absolute;
}

.content-about-div > .content-details {
    position: relative;
    opacity: 1;
    width: auto;
    height: 100%;
}

.content-details {
    position: relative;
    opacity: 0;
    width: auto;
    height: 100%;
}

.content-images {
    position: relative;
    height: 100%;
    width: 100%;
}

.about-content-image {
    margin-top: 8em;
    float: right;
}