/******************************************************************************************
    CSS RESET
******************************************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.background_continer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: green;
} 

.background {
    width: inherit;
    height: inherit;
    background-image: url("img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.black {
    position: fixed;
    width: inherit;
    height: inherit;
    background-color: black;
    opacity: 0.7;
}

.content {
    position: fixed;
    width: 100%;
    height: 100%;
}

.content_divs {
    width: auto;
    height: 600px;
    padding-left: 57px;
    vertical-align:text-top;
}

.content_vertical_line {
    display: inline-block;
    height: 400px;
    border: 2px solid white;
    border-radius: 2px;
    opacity: 0.1;
    vertical-align:text-top;
    margin-right: 15px;
    margin-left: 15px;
}

.content_about_div {
    width: 700px;
    height: auto;
    display: inline-block;
    vertical-align:text-top;
}

.content_tech_div {
    width: 190px;
    height: auto;
    display: inline-block;
    vertical-align:text-top;    
}

.content_arts_div {
    width: 190px;
    height: auto;
    display: inline-block;
    vertical-align:text-top;    
}

.content_about_div > .content_text {
    color: #FFFFFF;
    font-family: "Fauna One";
    font-size: 15px;    
    display: block;
}

.content_text {
    color: #FFFFFF;
    font-family: "Fauna One";
    font-size: 15px;    
    display: none;
}

.content_top {
    padding-left: 80px;
    padding-top: 90px;
}

h1 {
    font-size: 44px;
    font-family: "Fauna One";
    color: #8f8f8f;
}

h2 {
    color: #7d7e84;
    font-family: "Fauna One";
}

h2:hover {
    color: #a0a0CD;
}
